<div class="container-fluid">
  <div class="row main clearfix">
    <a href="#" class="js-floating-nav-trigger floating-nav-trigger mb-3 mr-3"
      [ngClass]="{ 'is-open': isMenuOpened }"
      (click)="showMenu($event)"
    >
      <i class="icon-bars"></i>
      <span class="close-icon">&times;</span>
    </a>
    <nav class="floating-nav js-floating-nav mb-3 mr-3"
      [ngClass]="{ 'is-visible': isMenuOpened }"
    >
      <ul class="list-unstyled">
        <li>
          <a href="#about">
            <i class="mr-10 icon-board"></i> About</a>
        </li>
        <li>
          <a href="#education">
            <i class="mr-10 icon-graduation-cap"></i>Education</a>
        </li>
        <li>
          <a href="#work-experience">
            <i class="mr-10 icon-office"></i> Work Experience</a>
        </li>
        <li>
          <a href="#research-experience">
            <i class="mr-10 icon-book"></i> Research Experience</a>
        </li>
        <li>
          <a href="#spare-time-activity">
            <i class="mr-10 icon-codepen"></i> Spare-time Activity</a>
        </li>
        <li>
          <a href="#side-projects">
            <i class="mr-10 icon-github"></i> Side Projects</a>
        </li>
        <li>
          <a href="#interests">
            <i class="mr-10 icon-heart"></i> Interests</a>
        </li>
      </ul>
    </nav>
    <section class="col-lg-3 card-wrapper profile-card-wrapper">
      <app-profile></app-profile>
    </section>
    <section class="col-lg-9 card-wrapper background-card-wrapper pull-right">
      <app-background></app-background>
    </section>
  </div>
</div>
