<div class="card background-card">
  <h4 class="text-uppercase mb-0">Background</h4>
  <hr>
  <div class="background-details">
    <div id="about" class="detail mb-3">
      <div class="icon">
        <i class="fs-lg icon-board"></i>
        <span class="mobile-title">About</span>
      </div>
      <div class="info">
        <h4 class="title text-uppercase">About</h4>
        <div class="content-wrapper">
          <div itemprop="description" class="content">
            Current CTO & Co-founder in start-up company NOE Corp. 5+ years experience specializing in mobile development,
            web development and back-end/infrastructure. 3+ years experience specializing in multi-media software development.
            Super nerd who loves learning new techs and combing different tech-stacks together to build fun apps. Interested in
            devising a better problem solving method for a challenging task, and use deep learning to build fantastic tools.
          </div>
          <div class="resume">
            <img class="resume-pic" src="../assets/image/resume.png">
            <div class="resume-downloads">
              <a href="https://s3-eu-west-1.amazonaws.com/binbo-resume/resumes/bin_bo_resume_v2_en.pdf" target="_blank" class="mr-1">En</a>
              <a href="https://s3-eu-west-1.amazonaws.com/binbo-resume/resumes/bin_bo_resume_v2_ch.pdf" target="_blank" class="ml-1">中</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="education" class="detail">
      <div class="icon">
        <i class="fs-lg icon-graduation-cap"></i>
        <span class="mobile-title">Education</span>
      </div>
      <div class="info">
        <h4 class="title text-uppercase">Education</h4>
        <div class="content">
          <ul class="list-unstyled">
            <li class="card card-nested">
              <div class="content">
                <p class="clear-margin relative">
                  <i rel="tooltip" title="Currently Pursuing" data-placement="left"></i>
                  <strong>M.S. in Computer Science,&nbsp;</strong>Northeastern University (USA)</p>
                <p class="text-muted">
                  <small>Sep, 2012 - Dec, 2014</small>
                </p>
                <i></i>
              </div>
            </li>
            <li class="card card-nested">
              <div class="content">
                <p class="clear-margin relative">
                  <i rel="tooltip" title="Currently Pursuing" data-placement="left"></i>
                  <strong>B.S. in Computing and Information Science,&nbsp;</strong>Changzhou University (China)</p>
                <p class="text-muted">
                  <small>Aug, 2004 - Jul, 2008</small>
                </p>
                <i></i>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="work-experience" class="detail">
      <div class="icon">
        <i class="fs-lg icon-office"></i>
        <span class="mobile-title">Work Experience</span>
      </div>
      <div class="info">
        <h4 class="title text-uppercase">Work Experience</h4>
        <ul class="list-unstyled">
          <li class="card card-nested clearfix">
            <div class="content">
              <p class="clear-margin relative">
                <i rel="tooltip" title="Currently Working" data-placement="left" class="icon-circle current-event"></i>
                <strong>CTO / Co-Founder</strong>,&nbsp;
                <a href="https://www.plat.com" target="_blank">NOE (start-up company)</a>
              </p>
              <p class="text-muted">
                <small>
                  <span class="space-right">Sep, 2017 - Present</span>
                  <span>
                    <i class="icon-clock mr-5"></i>5 months</span>
                </small>
              </p>
              <p></p>
              <ul>
                <li>Designed and built NOE web platform with Angular5, Node.JS, Socket.io, MongoDB and Express, it involved architecting the system,
                    UI/UX design, coding for both frontend & backend and implementing realtime messaging system between different web clients.</li>
                <li>Shard MongoDB database into db clusters with shard keys and replica sets.</li>
                <li>Deployed NOE web app to AWS with CloudFront, S3, EC2 instances, docker containers and RDS.</li>
              </ul>
            </div>
          </li>
          <li class="card card-nested clearfix">
            <div class="content">
              <p class="clear-margin relative">
                <strong>Tech Leader</strong>,&nbsp;
                <a href="https://www.localytics.com" target="_blank">Localytics</a>
              </p>
              <p class="text-muted">
                <small>
                  <span class="space-right">Jan, 2015 - Dec, 2017</span>
                  <span>
                    <i class="icon-clock mr-5"></i>3 years</span>
                </small>
              </p>
              <p></p>
              <ul>
                <li>Designed and implemented Localytics mobile SDK to collect data from integrated customers’ apps, added features to send in-app
                    messages and push notifications to targets based on the results of dynamic big-data analysis using Hadoop, Spark and Vertica.</li>
                <li>Implemented geo-based push notification for Localytics mobile SDK and Localytics dashboard app.</li>
                <li>Cooperated with team members to design and improve company’s dashboard app with MEAN stack, which involved frontend,
                    database schema and backend designs. Code to implement in-app message and push notification CRUD features for the web app.
                    Wrote tons of unit tests for the dashboard app.</li>
                <li>Made the CI for SDK team using Jenkins, Artifactory and github webhooks.</li>
                <li>Wrote and improved Localytics SDK documents.</li>
                <li>Wrote ruby and azkaban jobs to load big-data from S3 logs to AWS Redshift tables, designed the table schema and compute daily
                    assets-download cost from Localytics SDK.</li>
              </ul>
            </div>
          </li>
          <li class="card card-nested clearfix">
            <div class="content">
              <p class="clear-margin relative">
                <strong>Co-op in Localytics</strong>,&nbsp;
                <a href="https://www.localytics.com" target="_blank">Localytics</a>
              </p>
              <p class="text-muted">
                <small>
                  <span class="space-right">Jan, 2014 - Jul, 2014</span>
                  <span>
                    <i class="icon-clock mr-5"></i>7 month</span>
                </small>
              </p>
              <p></p>
              <ul>
                <li>Built in-app message for Localytics Android SDK including test mode and Javascript API for H5, wrote test cases.</li>
                <li>Created SDK cloud testing with AWS Appthwack API.</li>
              </ul>
            </div>
          </li>
          <li class="card card-nested clearfix">
            <div class="content">
              <p class="clear-margin relative">
                <strong>Senior Multimedia Software Engineer</strong>,&nbsp;
                <a href="http://www.qvod.com" target="_blank">QVOD</a></p>
              <p class="text-muted">
                <small>
                  <span class="space-right">Jul, 2010 - Jul, 2012</span>
                  <span>
                    <i class="icon-clock mr-5"></i>2 years</span>
                </small>
              </p>
              <p></p>
              <ul>
                <li>Fully participated in designing and building QVOD media player mobile apps for both iOS and Android. The work included mobile
                    app designing, coding, testing, debugging, deployments and updatings month by month.</li>
                <li>Cooperated with P2P team to optimized the media player user experience by adding 5 seconds seek-acceleration.</li>
                <li>Designed, implemented and transplanted media player library for multiple platforms from scratch.</li>
              </ul>
            </div>
          </li>
          <li class="card card-nested clearfix">
            <div class="content">
              <p class="clear-margin relative">
                <strong>Codec Software Engineer</strong>,&nbsp;
                <a href="https://www.avermedia.com" target="_blank">AVerMedia</a></p>
              <p class="text-muted">
                <small>
                  <span class="space-right">Aug, 2008 - Feb, 2010</span>
                  <span>
                    <i class="icon-clock mr-5"></i>1 year 6 months</span>
                </small>
              </p>
              <p></p>
              <ul>
                <li>Led the team to design, built and test Chinese standard AVS video decoder.</li>
                <li>Optimize the idct, inter/intra prediction and color space conversion parts from AVS video codec with MMX and SSE2 CPU instructions.</li>
                <li>Designed and built AVerMedia media player’s stream buffer engine to convert live stream into semi-live stream. Focus on the implementing
                    the local storage buffer for the stream.</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div id="research-experience" class="detail">
      <div class="icon">
        <i class="fs-lg icon-book"></i>
        <span class="mobile-title">Research Experience</span>
      </div>
      <div class="info">
        <h4 class="title text-uppercase">Research Experience</h4>
        <ul class="list-unstyled">
          <li class="card card-nested clearfix">
            <div class="content">
              <p class="clear-margin relative">
                <i rel="tooltip" title="Currently Working" data-placement="left"></i>
                <strong>Core Member & Android Software Developer</strong>,&nbsp;mHealth Research Team
              </p>
              <p class="text-muted">
                <small>
                  <span class="space-right">Sep, 2017 - Present</span>
                  <span>
                    <i class="icon-clock mr-5"></i>5 months</span>
                </small>
              </p>
              <p></p>
              <ul>
                <li>Built a mobile app for teens activity research. This app collected and uploaded sensor data with service, visualized data in timeline
                    chunks and each chunk could be marked with an activity name. All of the data were sent to our backend system and it would trigger
                    the predefined surveys on the mobile devices with GCM push notification.</li>
                <li>Improved an android library called WOCKETSLib to better collect and upload sensor data, rewrote its survey implementation, added
                    cluster algorithms for location data.</li>
                <li>Made a great use of deep learning to create and train our physical activity recognition model with data collecting from USCTeen app
                    so later we could use this model to guess what the person was doing based on the same type of data attributes.</li>
                <li>Published the essay of the physical activity research: <a href="https://www.frontiersin.org/books/b/333" target="_blank">Development of a smartphone application to measure
                  physical activity using sensor-assisted self-report</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div id="spare-time-activity" class="detail">
      <div class="icon">
        <i class="fs-lg icon-codepen"></i>
        <span class="mobile-title">Spare-time Activity</span>
      </div>
      <div class="info">
        <h4 class="title text-uppercase">Spare-time Activity</h4>
        <ul class="list-unstyled">
          <li class="card card-nested clearfix">
            <div class="content">
              <p class="clear-margin relative">
                <i rel="tooltip" data-placement="left"></i>
                <strong>Exclusive Tech Instructor</strong>,&nbsp;51CTO-School
              </p>
              <p class="text-muted">
                <small>
                  <span class="space-right">Jul, 2017 - Present</span>
                  <span>
                    <i class="icon-clock mr-5"></i>5 months</span>
                </small>
              </p>
              <p></p>
              <ul>
                <li>Created and record a <a href="http://edu.51cto.com/course/11005.html" target="_blank">react native course</a> with a great amount of well-designed course materials, published on 51-CTO website for the
                    public to purchase and enjoy learning the leading-edge technology. It’s received plenty of positive comments since its publish.</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div id="side-projects" class="detail">
      <div class="icon">
        <i class="fs-lg icon-github"></i>
        <span class="mobile-title">Side Projects</span>
      </div>
      <div class="info">
        <h4 class="title text-uppercase">Side Projects</h4>
        <div class="content">
          <ul class="list-unstyled">
            <li class="card card-nested">
              <div class="content">
                <p class="clear-margin relative">
                  <i rel="tooltip" title="Currently Working" data-placement="left" class="icon-circle current-event"></i>
                  <a href="https://github.com/bigbugbb/OCR" target="_blank">
                    <strong>OCR</strong>
                  </a>
                </p>
                <p></p>
                <p class="ml-3">
                  Made a simple OCR mobile app with ANN. Actually three models were trained respectively using Naive Bayes, SVM and
                  multi-level ANNs. And the multi-level ANNs model (deep learning model) was best in testing so it was chosen for this app. The dataset
                  came from MNIST.
                </p>
              </div>
            </li>
            <li class="card card-nested">
              <div class="content">
                <p class="clear-margin relative">
                  <i rel="tooltip" data-placement="left"></i>
                  <a href="https://github.com/bigbugbb/MSD" target="_blank">
                    <strong>MSD</strong>
                  </a>
                </p>
                <p></p>
                <p class="ml-3">
                  The final project for my Hadoop course in Northeastern, our team were given a dataset with the attributes from a million songs,
                  we made Hadoop mapreduce to parse the dataset, filtered out the data we expected, and used the designed attributes we got from
                  the dataset to train a model with Naive Bayes algorithm, so finally we could use the model to detect if a given song with certain
                  attributes were welcome or not.
                </p>
              </div>
            </li>
            <li class="card card-nested">
              <div class="content">
                <p class="clear-margin relative">
                  <i rel="tooltip" data-placement="left"></i>
                  <a href="https://github.com/bigbugbb/iTracker" target="_blank">
                    <strong>iTracker</strong>
                  </a>
                </p>
                <p></p>
                <p class="ml-3">
                  An open source android app to track and backup daily activity, manage photos, download youtube videos and connect to
                  your friends with instant message. The app used play services to get location and activity data, it retrieved youtube list from youtube
                  data api and called smack api to ejabberd hosted on EC2 for realtime messaging. The app also talked to its own data api to
                  backup/restore collected data and make profile management.
                </p>
              </div>
            </li>
            <li class="card card-nested">
              <div class="content">
                <p class="clear-margin relative">
                  <i rel="tooltip" data-placement="left"></i>
                  <a href="https://github.com/bigbugbb/ray-tracer" target="_blank">
                    <strong>Ray Tracer</strong>
                  </a>
                </p>
                <p></p>
                <p class="ml-3">
                  A simple ray tracer program written in C++ and OpenGL.
                </p>
              </div>
            </li>
            <li class="card card-nested">
              <div class="content">
                <p class="clear-margin relative">
                  <i rel="tooltip" data-placement="left"></i>
                  <a href="https://github.com/bigbugbb/rocket_rush" target="_blank">
                    <strong>Rocket Rush</strong>
                  </a>
                </p>
                <p></p>
                <p class="ml-3">
                  An open source sensor-based android game promoting people to do more body exercises.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="interests" class="detail">
      <div class="icon">
        <i class="fs-lg icon-heart"></i>
        <span class="mobile-title">Interests</span>
      </div>
      <div class="info">
        <h4 class="title text-uppercase">Interests</h4>
        <div class="content">
          <ul class="list-unstyled">
            <li class="card card-nested">
              <p class="mb-0">
                <strong>Music</strong>
              </p>
              <div class="space-top labels">
                <span class="label label-keyword">Pop</span>
                <span class="label label-keyword">Piano</span>
                <span class="label label-keyword">Lute</span>
              </div>
            </li>
            <li class="card card-nested">
              <p class="mb-0">
                <strong>Sports</strong>
              </p>
              <div class="space-top labels">
                <span class="label label-keyword">Basketball</span>
                <span class="label label-keyword">Swimming</span>
                <span class="label label-keyword">Table Tennis</span>
                <span class="label label-keyword">Rock-Climbing</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
