<div class="card profile-card" id="sticky-sidebar">
  <span class="profile-pic-container">
    <div class="profile-pic">
      <img data-src="holder.js/100x100" alt="Bin Bo" src="../assets/image/profile.png" itemprop="image" class="media-object img-circle center-block"
      />
    </div>
    <div class="name-and-profession text-center">
      <h3 itemprop="name">
        <b>Bin Bo</b>
      </h3>
      <h5 itemprop="jobTitle" class="text-muted">Full Stack Software Engineer &amp; Geek</h5>
    </div>
  </span>
  <hr>
  <div class="contact-details clearfix">
    <!-- <div class="detail">
      <span class="icon">
        <i class="icon fs-lg icon-location"></i>
      </span>
      <span class="info">246-1002, Gwangmyeongmayrouge Apt. 86, Cheongna lime-ro, Seo-gu, Incheon-si, Rep. of Korea, 22738</span>
    </div> -->
    <!-- <div class="detail">
      <span class="icon">
        <i class="icon fs-lg icon-phone"></i>
      </span>
      <span itemprop="telephone" class="info">(+82) 10-9030-1843</span>
    </div> -->
    <div class="detail">
      <span class="icon">
        <i class="icon fs-lg icon-mail"></i>
      </span>
      <span class="info">
        <a href="bigbug_apple@icloud.com" class="email">bigbug_apple@icloud.com</a>
      </span>
    </div>
    <div class="detail">
      <span class="icon">
        <i class="icon fs-lg icon-link"></i>
      </span>
      <span class="info">
        <a href="http://bigbugbbo.com" target="_blank">http://bigbugbbo.com</a>
      </span>
    </div>
    <div class="detail">
      <span title="Languages I speak" class="icon">
        <i class="icon fs-lg icon-language"></i>
      </span>
      <span class="info">Chinese, English</span>
    </div>
  </div>
  <hr>
  <div class="social-links text-center">
    <div>
      <a href="https://github.com/bigbugbb" target="_blank" rel="tooltip" title="Bin Bo on Github" class="fs-2x social-link link-github icon-github"></a>
      <a href="https://www.linkedin.com/in/bin-bo-59081a51" target="_blank" rel="tooltip" title="Bin Bo on Linkedin"
        class="fs-2x social-link link-linkedin icon-linkedin"></a>
    </div>
  </div>
</div>
